<section class="main_window">
    <div>
        
        <h2>DEATH STAR FIRED</h2>

        <p><%=name%> has been destroyed</p>

        <p><a href="/">Move on to next target</a></p> 
    </div>

    <div>
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/3K0D1Dkqh9MOmLSjzW" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
</section>

