<section class="main_window">
    <div>
        
        <h2>Enter login details</h2>

    </div>

    <div class="planets">
        <form action="/login" method="post">

            <label>User name:</label> 
            <input type="text" name="name" value="Palpatine"> <br>

            <label>Password:</label> 
            <input type="password" name="password" value="sithlord"> <br>

            <button>Login</button>
        
        </form>
    </div>
</section>